<div class="container">
  <form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    <!-- <button type="submit" id="search-button">Find</button> -->
  </form>

  <ul class="gallery">
    <!-- Список <li> с карточками изображений -->
  </ul>

  <button type="button" class="load-more-button invisible" id="load-more-btn">Load more...</button>
</div>

<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox__content">
    <img class="lightbox__image" src="" alt="" />
  </div>

  <button type="button" class="lightbox__button" data-action="close-lightbox"></button>
</div>
